{% extends "@views/layout.html.twig" %}

{% block body %}
<div ng-app="zcpe">
    <div ng-view></div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.5.2/angular-translate.min.js"></script>
    <script src="//rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script src="//pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script src="{{ app.request.basepath }}/js/angular-timer.min.js"></script>
    <script src="{{ app.request.basepath }}/bower_components/angular-animate/angular-animate.js"></script>
    <script src="{{ app.request.basepath }}/bower_components/showdown/compressed/showdown.js"></script>
    <script src="{{ app.request.basepath }}/bower_components/quizz/src/js/controllers/QuizzCtrl.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/app.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/config/timerOverride.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/config/translations.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/config/routes.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/services/evaluator.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/services/quizCreator.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/services/restApi.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/services/popup.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/controllers/SessionsCtrl.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/controllers/SessionCtrl.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/controllers/StartPageCtrl.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/controllers/QuizCtrl.js"></script>
    <script src="{{ app.request.basepath }}/ng-front/controllers/ResultCtrl.js"></script>
{% endblock %}
