<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home', {'_locale': app.request.locale}) }}">ZCE Practice Test</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('home') }}</a></li>
                {% if app.user is not null %}
                    <li>
                        <a href="{{ path('panel', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('my.panel') }}</a>
                        <span class="navbar-unread"></span>
                    </li>
                {% endif %}
                <li><a href="{{ path('about', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('about') }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right lang-flag" ng-controller="TranslateCtrl">
                <li><button ng-click="changeLang('fr_FR');"><img src="/images/flag-france.png" alt="Français" title="Français" /></button></li>
                <li><button ng-click="changeLang('en_EN');"><img src="/images/flag-united-kingdom.png" alt="English" title="English" /></button></li>
                <li><button ng-click="changeLang('pt_BR');"><img src="/images/flag-brazil.png" alt="Português do Brasil" title="Português do Brasil" /></button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user is null %}
                    <li><a href="{{ path('user.login', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('log.in') }}</a></li>
                    <li><a href="{{ path('user.register', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('create.account') }}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="{{ app.user.gravatarImage(20) }}" alt="{{ app.user.displayName }}" />
                            {{ app.user.displayName }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('user.view', {'_locale': app.request.locale, 'id': app.user.id}) }}">my.account</a></li>
                            <li><a href="{{ path('panel-index', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('my.panel') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('user.logout', {'_locale': app.request.locale}) }}">{{ formatBasedOnTranslationMethod('log.out') }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
